// text-color
$text-color: $gray-900; // text-color
$body-bg: $white !default; // body background color

// color-theme
$primary:       $blue;
$primary-muted: lighten(desaturate(adjust-hue($primary,-29deg),37%),28%);
$secondary:     $gray-600 !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-100 !default;
$dark:          $gray-900;

$body-bg: $white !default; // body background color
$body-color: $text-color; // text-color, used by Bootstrap

$yiq-text-dark: $body-color; // text-color, used by yiq