/*
Buttons
*/
:root .btn {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.7em;
    padding: $input-btn-padding-y $input-btn-padding-x;
    color: $white;
}

:root .btn-lg {
    font-size: 0.9em;
    padding: $input-btn-padding-y-lg $input-btn-padding-x-lg;
}

:root .btn-sm {
    font-size: 0.6em;
    padding: $input-btn-padding-y-sm $input-btn-padding-x-sm;
}

// outline
@each $color, $value in $theme-colors {
    :root .btn-outline-#{$color} {
        border-width: $btn-border-width;
        color: $value;
        &:hover {
            color: $white;
            background: $value;
        }
    }
}

.btn {
    @extend .display-text;
    font-size: 0.7em;
}