.display-text {
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.subtitle {
    font-weight: 500;
    font-size: 0.8em;
    letter-spacing: 0.5px;
    line-height: 2em;
}

hr {
    margin: 40px auto;
}

p {
    line-height: 2em;
    font-size: 0.9em;
}