// reset padding and margin
@mixin reset-p-m() {
    padding: 0 0;
    margin: 0 0;
}

// apply col-padding to compensate for row negative margins
@mixin col-padding() {
    padding-right: ($grid-gutter-width / 2);
    padding-left: ($grid-gutter-width / 2);
}

// add bigger icon classes
.icon-md {
    font-size: 1.6em;
    vertical-align: middle;
}
.icon-lg {
    font-size: 2em;
    vertical-align: middle;
}

// Bootstrap column size to percentage
@function col-size($size: 1) {
    @return percentage($size / $grid-columns);
}

// staggered animation
@mixin stagger-animation($interval: 100ms, $through: 20) {
    @for $i from 1 through $through {
        &:nth-child(#{$i}) {
            transition-delay: $interval * $i;
        }
    }
}